.link{
    text-decoration: none;
}
.list {
    list-style: none;
}
.address {
    font-style: normal;
}
body {
background-color: #E5E5E5;
font-family: 'Roboto';
}
.header {
    font-size: 14px;
    background-color: #FFFFFF;
}
.nav-list {
    font-weight: 500;
}
.nav-list-item {
color: #212121;
}
.nav-list-item:focus {
    color: #2196F3;  
}
.nav-list-item:hover {
   color: #2196F3 
}
.header-part-right {
    font-weight: 500;
}
.header-part-right-item {
    color: #757575;
}
.header-part-right-item:focus {
    color: #2196F3;
}
.header-part-right-item:hover {
    color: #2196F3;   
}
.header-logo {
    font-weight: 700;
    color: #000000;
    font-size: 26px;
    font-family: 'Raleway';
}
.header-logo:hover {
    text-decoration: underline;
    text-decoration-color: #2196F3;
}
.header-logo:focus {
    text-decoration: underline;
    text-decoration-color: #2196F3;
}
.header-logo-left-part {
    color: #2196F3;
}